@page "/capgemini/{id}"
@using CapFootTournament.BlazorUI.Contracts;
@using CapFootTournament.BlazorUI.Services;
@using CapFootTournament.BlazorUI.Models;
@inject ICapgeminiContract CapgeminiService
<PageTitle>Capgeminis Details</PageTitle>

<div class="container">
    <h3 class="mb-4 text-light">Capgemini Detail</h3>
	<div class="row">
        <div class="col-md-5">
            <MatCard class="demo-mat-card ">
                <MatCardContent>
                    <MatCardMedia Wide="true" ImageUrl="https://imgs.search.brave.com/jocSwCt-Y6CQyN_1w4fXIfgpGJJ6ZDPLU11-gz3mVtY/rs:fit:992:558:1/g:ce/aHR0cHM6Ly9va2Rp/YXJpby5jb20vaW1n/LzIwMTcvMDQvMjcv/Y2FwZ2VtaW5pMS1l/MTUyNTM1MjEyMTU4/OC5qcGc"></MatCardMedia>
                    <div class="demo-mat-card-content">
                        <MatHeadline6 class="demo-mat-card-clean-margin text-center">
                            Capgemini @capgemini.Name @capgemini.City
                        </MatHeadline6>
                        <MatSubtitle2 class="demo-mat-card-clean-margin text-center">
                            Country : @capgemini.Country
                        </MatSubtitle2>
                    </div>

                    <MatBody2 class="demo-mat-card-content demo-mat-card-clean-margin">

                    </MatBody2>
                </MatCardContent>
                <MatCardActions>
                    <MatCardActionButtons>
                        <MatButton>View More</MatButton>
                        <MatButton>View Tournaments</MatButton>
                    </MatCardActionButtons>
                    <MatCardActionIcons>
                        <MatIconButton Icon="@MatIconNames.Favorite"></MatIconButton>
                        <MatIconButton Icon="@MatIconNames.Dashboard"></MatIconButton>
                    </MatCardActionIcons>
                </MatCardActions>
            </MatCard>
        </div>
        
       <div class="col-md-4">
           <div class="container">
               <div class="row">
                    <div class="col-md-12 mb-2">
                        <div class="card card-stats mb-4 mb-xl-0">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                        <h6 class="card-title text-uppercase text-muted mb-0">Nombre de participation Cap @capgemini.Country</h6>
                                        <span class="h2 font-weight-bold mb-0">13</span>
                                    </div>
                                    <div class="col-auto">
                                        <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                                            <i class="fas fa-futbol"></i>
                                        </div>
                                    </div>
                                </div>
                                <p class="mt-3 mb-0 text-muted text-sm">
                                    <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> 3.48%</span>
                                    <span class="text-nowrap">Taux de participation</span>
                                </p>
                            </div>
                        </div>

                    </div>
                  
                    <div class="col-md-12 mb-2">
                        <div class="card card-stats mb-4 mb-xl-0">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                        <h6 class="card-title text-uppercase text-muted mb-0">Nombre de participation Cap du Monde</h6>
                                        <span class="h2 font-weight-bold mb-0">2</span>
                                    </div>
                                    <div class="col-auto">
                                        <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                                            <i class="fas fa-futbol"></i>
                                        </div>
                                    </div>
                                </div>
                                <p class="mt-3 mb-0 text-muted text-sm">
                                    <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> 3.48%</span>
                                    <span class="text-nowrap">Taux de participation</span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="card card-stats mb-4 mb-xl-0">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                        <h6 class="card-title text-uppercase text-muted mb-0">Nombre de Trophée</h6>
                                        <span class="h2 font-weight-bold mb-0">4</span>
                                    </div>
                                    <div class="col-auto">
                                        <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                                            <i class="fas fa-futbol"></i>
                                        </div>
                                    </div>
                                </div>
                                <p class="mt-3 mb-0 text-muted text-sm">
                                    <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> 3.48%</span>
                                    <span class="text-nowrap">Taux de participation</span>
                                </p>
                            </div>
                        </div>
                    </div>
               </div>
           </div>
       </div>
        <div class="col-md-3">
            
                <div class="card card-stats mb-4 mb-xl-0">
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                            <h6 class="card-title text-uppercase text-muted mb-0 text-center text-primary">Butteur</h6>
                                <img width="100px" src="https://imgs.search.brave.com/EpGoFHSjCsJ6gOjCxvbGlTukMKpSTXdTrahXlgSuj1o/rs:fit:512:512:1/g:ce/aHR0cHM6Ly9jZG4z/Lmljb25maW5kZXIu/Y29tL2RhdGEvaWNv/bnMvZGl2ZXJzaXR5/LWF2YXRhcnMtdm9s/LTIvNjQvZm9vdGJh/bGxlci1zb2NjZXIt/bWVzc2ktYXJnZW50/aW5hLWZvb3RiYWxs/ZXItYmFyY2Vsb25h/LTUxMi5wbmc"/>
                                <span class="font-weight-bold mb-0 text-center">Yassine LAGHRIBI</span>
                            </div>

                        </div>

                    </div>
                </div>
            <div class="card card-stats mb-4 mb-xl-0 mt-1">
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <h6 class="card-title text-uppercase text-muted mb-0 text-center text-primary">Zagalo</h6>
                            <img width="100px" src="https://imgs.search.brave.com/tBWB51741zEXLMfmy5yNkYbMiCCOSjHwvbbbd3Zq7uQ/rs:fit:1024:1024:1/g:ce/aHR0cDovL2dldGRy/YXdpbmdzLmNvbS9j/bGlwYXJ0cy9jcmlz/dGlhbm8tcm9uYWxk/by1jbGlwYXJ0LTMw/LnBuZw" />
                            <span class="font-weight-bold mb-0 text-center">Amine AbouOthmane</span>
                        </div>

                    </div>

                </div>
            </div>

            <div class="card card-stats mb-4 mb-xl-0 mt-1">
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <h6 class="card-title text-uppercase text-muted mb-0 text-center text-primary">Aggressive</h6>
                            <img width="100px" src="https://imgs.search.brave.com/_XOaFLI7-R-QcXso8zfKye2kLhjcxRiIDxWLeT22RCk/rs:fit:1024:1024:1/g:ce/aHR0cHM6Ly9jZG4z/Lmljb25maW5kZXIu/Y29tL2RhdGEvaWNv/bnMvZm9vdGJhbGwt/YW5kLXNvY2Nlci00/LzY0L2dvYWxrZWVw/ZXItc29jY2VyLWZv/b3RiYWxsLXNwb3J0/LWF2YXRhci0xMDI0/LnBuZw" />
                            <span class="font-weight-bold mb-0 text-center">Assil Ouchani</span>
                        </div>

                    </div>

                </div>
            </div>
           
        </div>
	</div>
    <div class="row">
        <div class="col-md-12 card mt-4">
            <h5 class="text-center mt-3 mb-2">Historique des participations </h5>
            <table class="table table-border table-hover mt-3">
                <thead>
                    <tr>
                        <th>id</th>
                        <th>Name</th>
                        <th>Country</th>
                        <th>Started</th>
                        <th>SignUp Complete</th>
                        <th>Finished</th>
                        <th>Action</th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <th>e5a30cb4-fb15-4bad-9521-12af4a44158e</th>
                        <th>Ramdan 2023</th>
                        <th>Morocco</th>
                        <th>false</th>
                        <th>false</th>
                        <th>false</th>
                        <th>
                            <MatButton color="secondary" Raised="true" Icon="edit">edit</MatButton>
                            <MatButton Raised="true" Icon="delete">delete</MatButton>
                        </th>
                    </tr>
                    
                </tbody>
            </table>
        </div>
    </div>
</div>



@code {
    [Parameter]
    public String Id { get; set; }
 
	public Capgemini capgemini = new Capgemini();
	protected override async Task OnInitializedAsync()
	{
		//CapgeminiId = new Guid(Id);
		await CapgeminiService.GetCapgeminiByIdAsync(Id);
		capgemini = CapgeminiService.CapgeminiDetails;
	}
}
