@page "/Capgeminis"
@using CapFootTournament.BlazorUI.Contracts;
@using CapFootTournament.BlazorUI.Services;
@inject ICapgeminiContract CapgeminiService
<PageTitle>Capgeminis</PageTitle>

<h3>Capgeminis</h3>
<MatButton>Test</MatButton>
<table class="table table-border table-hover">
	<thead>
		<tr>
			<th>id</th>
			<th>Name</th>
			<th>Country</th>
			<th>City</th>
			<th>DateCreation</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var capgemini in CapgeminiService.ListCapgemini)
		{
			<tr>
				<th>
					<NavLink href="@($"/capgemini/{capgemini.Id}")">@capgemini.Id</NavLink>

				</th>
				<th>@capgemini.Name</th>
				<th>@capgemini.Country</th>
				<th>@capgemini.City</th>
				<th>@capgemini.DateCreation.ToString()</th>
			</tr>
		}
	</tbody>
</table>
@code {

	protected override async Task OnInitializedAsync()
	{
		await CapgeminiService.GetAllCapgeminisAsync();
	}
}
